<footer class="relative bg-gray-800 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-gray-300">Pytania?</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-400">
          Zapraszam do zgłaszania issue na GitHub. Możecie też mnie śledzić i wysłać wiadomość prywatną na Twitter.
        </h5>
        <div class="mt-6">
          <a class="bg-white inline-flex text-3xl text-gray-700 shadow-lg font-normal h-16 w-16 items-center justify-center rounded-full outline-none focus:outline-none mr-2" href="https://discord.gg/5EMz6SB">
            <i class="fab fa-github align-center"></i>
          </a>
          <a class="bg-white inline-flex text-3xl text-blue-400 shadow-lg font-normal h-16 w-16 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" href="https://twitter.com/zaiste">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>

      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6"></div>
      </div>
    </div>

    <hr class="my-6 border-gray-900"/>

    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-300 font-semibold py-1">
          Wszelkie Prawa Zastrzeżone © 2020
        </div>
      </div>
    </div>
  </div>
</footer>