<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="description" content="{{ website.meta.description }}">

<!-- Open Graph -->
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ website.meta.facebook.description or website.meta.description }}"/>
<meta property="og:title" content="{{ website.meta.facebook.title or website.title }}"/>
<meta property="og:site_name" content="{{ website.meta.facebook.site_name }}"/>
<meta property="og:url" content="{{ website.meta.facebook.url }}">
<meta property="og:locale" content="{{ website.meta.facebook.locale or 'en_US' }}">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ website.meta.twitter.site }}">
<meta name="twitter:title" content="{{ website.meta.twitter.title or website.title }}">
<meta name="twitter:creator" content="{{ website.meta.twitter.creator }}">
<meta name="twitter:description" content="{{ website.meta.twitter.description or website.meta.description }}">
<meta name="twitter:domain" content="{{ website.meta.twitter.domain }}">